{% extends 'base.html.twig' %}

{% block title %}See or create categories{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <p>Create a category</p>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn">{{ button_label|default('Create') }}</button>
        {{ form_end(form) }}

        <hr>

        <h1>All categories : </h1>
        {% for category in categories %}
            <div>
                <h2>Category : <a href="{{ path('blog_category',  { category : category.name }) }}">{{ category.name }}</a></h2>
            </div>
        {% endfor %}

        <a href="{{ path('blog_home') }}">
            <p>Back to blog menu.</p>
        </a>
    </div>

{% endblock %}