{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Welcome on my blog! ✌️</h1>

        <p>Testing show() method from BlogController with a real article's slug.</p>
        <ul>
            <li><a href="{{ path('blog_show', { 'slug': "telltale-games-ferme" }) }}">Telltale Games va fermer ?</a></li>
        </ul>
        <p>See & create articles :</p>
        <ul>
            <li><a href="{{ path('blog_articles') }}">Click me</a></li>
        </ul>
        <p>See & create categories :</p>
        <ul>
            <li><a href="{{ path('blog_category_all') }}">Or click me</a></li>
        </ul>
        <hr>
        <p>Quête 5 - ParamConverter :</p>
        <ul>
            <li><a href="{{ path('category_show', { 'id': '1' }) }}">1</a></li>
            <li><a href="{{ path('category_show', { 'id': '2' }) }}">2</a></li>
            <li><a href="{{ path('category_show', { 'id': '3' }) }}">3</a></li>
            <li><a href="{{ path('category_show', { 'id': '4' }) }}">4</a></li>
            <li><a href="{{ path('category_show', { 'id': '5' }) }}">5</a></li>
        </ul>

        <hr>

        <a href="{{ path('homepage') }}">
            <p>Back to homepage.</p>
        </a>
    </div>

{% endblock %}